power_automate/Extraction_voi.json
{"name":"e30a7f47-f815-4e33-90b5-ba6ca003f053","id":"/providers/Microsoft.Flow/flows/e30a7f47-f815-4e33-90b5-ba6ca003f053","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Tier_Bern","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"ebb02f3c-a7ba-4749-9845-a553087037c0","type":"User","tenantId":"d6a1cf8c-768e-4187-a738-b6e50c4deb4a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-17T08:40:42.0838062Z","connectionKeySavedTimeKey":"2024-05-16T21:45:10.3613613Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"interval":4,"frequency":"Minute","startTime":"2024-02-27T09:26:00Z","timeZone":"W. Europe Standard Time"},"type":"Recurrence"}},"actions":{"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"bike_id":{"type":"string"},"lat":{"type":"string"},"lon":{"type":"string"},"is_reserved":{"type":"boolean"},"is_disabled":{"type":"boolean"},"rental_uris":{"type":"object","properties":{"android":{"type":"string"},"ios":{"type":"string"}}},"vehicle_type_id":{"type":"string"},"current_range_meters":{"type":"integer"},"pricing_plan_id":{"type":"string"}}}}},"HTTP":{"runAfter":{},"limit":{"timeout":"PT30S"},"type":"Http","inputs":{"uri":"https://gbfs.prod.sharedmobility.ch/v2/gbfs/tier_bern/free_bike_status","method":"GET","headers":{"Authorization":"gbfs@sharedmobility.ch"}}},"Terminate":{"runAfter":{"HTTP":["TimedOut","Skipped","Failed"]},"type":"Terminate","inputs":{"runStatus":"Failed"}},"Initialize_variable":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"bikeArray","type":"array","value":"@body('Parse_JSON')['data']['bikes']"}]}},"Select":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Select","inputs":{"from":"@variables('bikeArray')","select":{"bike_id":"@{item()['bike_id']}","lat":"@{item()['lat']}","lon":"@{item()['lon']}","is_reserved":"@{item()['is_reserved']}","is_disabled":"@{item()['is_disabled']}","vehicle_type_id":"@{item()['vehicle_type_id']}","current_range_meters":"@{item()['current_range_meters']}","pricing_plan_id":"@{item()['pricing_plan_id']}","last_updated":"@{substring(convertTimeZone(addSeconds('1970-01-01Z00:00:00', body('Parse_JSON')['last_updated']), 'UTC', 'W. Europe Standard Time'), 0, 16)}","extract_time":"@{substring(convertTimeZone(utcNow(), 'UTC', 'W. Europe Standard Time'), 0, 16)}"}}},"Create_CSV_table":{"runAfter":{"Select":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Select')","format":"CSV"}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bernerfachhochschule.sharepoint.com/sites/bfh-semester1mscwi-BINAArbeit","folderPath":"/Freigegebene Dokumente/BINA Arbeit/Files/Tier_Bern","name":"tier_@{substring(convertTimeZone(utcNow(), 'UTC', 'W. Europe Standard Time'), 0, 16)}.csv","body":"@body('Create_CSV_table')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-c7513328-c153-4d2c-b384-6e07f17b6ec9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}