power_automate/Extraction_tier.json
{"name":"ce0a12c8-382d-4c96-ac54-2ffb2f90ed69","id":"/providers/Microsoft.Flow/flows/ce0a12c8-382d-4c96-ac54-2ffb2f90ed69","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Voi_Bern","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":"","creator":{"id":"ebb02f3c-a7ba-4749-9845-a553087037c0","type":"User","tenantId":"d6a1cf8c-768e-4187-a738-b6e50c4deb4a"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-06-17T08:40:56.6145904Z","connectionKeySavedTimeKey":"2024-03-22T15:38:43.0771746Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":4,"timeZone":"W. Europe Standard Time","startTime":"2024-02-27T10:08:00Z"},"metadata":{"operationMetadataId":"088b99f5-d5f0-4ea6-9f11-4ce8e7acf33e"},"type":"Recurrence"}},"actions":{"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"1351fea7-81d5-49b1-a925-ae3e679aba0a"},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"bike_id":{"type":"string"},"lat":{"type":"number"},"lon":{"type":"number"},"is_reserved":{"type":"boolean"},"is_disabled":{"type":"boolean"},"rental_uris":{"type":"object","properties":{"android":{"type":"string"},"ios":{"type":"string"}}},"vehicle_type_id":{"type":"string"},"last_reported":{"type":"integer"},"current_range_meters":{"type":"integer"},"pricing_plan_id":{"type":"string"}}}}},"HTTP":{"runAfter":{},"limit":{"timeout":"PT30S"},"metadata":{"operationMetadataId":"8787e9d3-b74e-4e75-ae1c-863e9c2be9db"},"type":"Http","inputs":{"uri":"https://gbfs.prod.sharedmobility.ch/v2/gbfs/voiscooters.com/free_bike_status","method":"GET","headers":{"Authorization":"gbfs@sharedmobility.ch"}}},"Terminate":{"runAfter":{"HTTP":["TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"42273210-1c4c-4db0-8197-51df327a4897"},"type":"Terminate","inputs":{"runStatus":"Failed"}},"Initialize_variable":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"ef9c7f0f-f01e-4411-a291-0d8fc555468b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"bikeArray","type":"array","value":"@body('Parse_JSON')['data']['bikes']"}]}},"Select":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"8aa21c57-d9f9-4942-af0a-ab31cf7e980c"},"type":"Select","inputs":{"from":"@variables('bikeArray')","select":{"bike_id":"@item()['bike_id']","lat":"@float(item()['lat'])","lon":"@float(item()['lon'])","is_reserved":"@item()['is_reserved']","is_disabled":"@item()['is_disabled']","vehicle_type_id":"@item()['vehicle_type_id']","current_range_meters":"@item()['current_range_meters']","pricing_plan_id":"@item()['pricing_plan_id']","last_updated":"@substring(convertTimeZone(addSeconds('1970-01-01Z00:00:00', body('Parse_JSON')['last_updated']), 'UTC', 'W. Europe Standard Time'), 0, 16)","extract_time":"@substring(convertTimeZone(utcNow(), 'UTC', 'W. Europe Standard Time'), 0, 16)"}}},"Create_CSV_table":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"85984c90-ef41-4047-adb0-47a9f53c01b9"},"type":"Table","inputs":{"from":"@body('Filter_array')","format":"CSV"}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"limit":{"timeout":"PT30S"},"metadata":{"operationMetadataId":"42ad763a-2802-4f36-8d92-63c90d2f5af0"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://bernerfachhochschule.sharepoint.com/sites/bfh-semester1mscwi-BINAArbeit","folderPath":"/Freigegebene Dokumente/BINA Arbeit/Files/Voi_Bern","name":"voi_@{substring(convertTimeZone(utcNow(), 'UTC', 'W. Europe Standard Time'), 0, 16)}.csv","body":"@body('Create_CSV_table')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Select":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Select')","where":"@and(and(greaterOrEquals(item()['lat'], 46.85573),lessOrEquals(item()['lat'], 47.03770)),and(greaterOrEquals(item()['lon'], 7.30989),lessOrEquals(item()['lon'], 7.57194)))"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-c7513328-c153-4d2c-b384-6e07f17b6ec9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}